{% extends "base.html" %}
{% load static %}

{% block title %}Success View{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h1 class="mb-4">Form Submission Successful!</h1>
            <p class="lead">Thank you for contacting us. We have received your message and will get back to you shortly.</p>
            <a href="{% url 'resume:home' %}" class="btn btn-primary mt-3">Return to Home</a>
        </div>
    </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
{% endblock content %}